html {
  user-select: none;
  overflow-y: hidden !important;
}

.v-container {
  padding: 0 !important;
  height: 100%;
  max-height: calc(100vh - 112px);
}

.height {
  height: 100%;
}

.scroll {
  overflow-y: auto;
}
